#about {
  height: 81.5vh;
  background-color: whitesmoke;
  box-sizing: border-box;
  /* TOGGLE TO SHOW */
  /* width: 100%; */
  /* padding: 5vh 5vw; */
  /* border: 1px solid black; */
  width: 0%;
  display: none;
}

#about h3,
#about p {
  /* start effect after x seconds */
  display: none;
}
